 body , html {
   height: 100%;
   width: 100%;
   min-height: 100vh;
   margin: 0;
   padding: 0;
 }
 
 /*
 *  Nav Bar
 */
 
 .navbar{
   background-color: #dfdfdf;
   border-bottom: 2px solid #d10000;
   height:5vh;
   width: 100%;
   min-height: 50px;
}
 
 .main-nav {
   display: flex;
   list-style: none;
   height: 100%;
   margin: 0;
   font-size: 0.9em;
   padding-left: 0;
   align-items: center;
 }
 
 .center{
   margin-right: 5%;
   margin-left: 5%;
   width: 100%;
   text-align: center;
 }
 
 a , p {
   color: #d10000;
   font-weight: bold;
   text-decoration: none;
   font-family: 'Ubuntu', sans-serif;
   font-size: 2em;
 }

 p {
   font-size: 1em;
 }

 /* 
 *  Grid
 */

 .container{
   display:grid;
   grid-template-columns: repeat(2,50%);
   grid-template-rows: 10fr 0.5fr;
   height: calc(100vh - 52px);
 }

 .question, .answer{
   width: 100%;
   display:grid;
   grid-template-columns: repeat(1,100%);
   grid-template-rows: 2.5fr 1fr;
   height:100%;
   background-color: #dfdfdf;
 }

 .topBox{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background-color: #ffffff;
 }

 .buttonBox{
    width:100%;
    height:100%;
    background-color: green;
 }

 .footer{
   width: 200%;
   text-align: center;
   background-color: #dfdfdf;
 }

/* 
*   Text sections
*/

.question-txt, .answer-txt{
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 2em;
  color: rgb(21, 21, 21)
}

/* 
*   Buttons
*/

#answerBtn , #questionBtn{
   width: 100%;
   height: 100%;
   color: #d10000;
   font-weight: bold;
   text-decoration: none;
   font-family: 'Ubuntu', sans-serif;
   cursor: pointer;
   font-size: 2rem;
   border: 2px solid #d10000;
   word-wrap:break-word;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-color: #dfdfdf;
   opacity: 1;
}

/* 
*   Smaller screens 
*/

@media only screen and (max-width: 1100px) and (max-height: 1400px){

  .question-txt, .answer-txt{
    font-size: 1.5em;
  }

  .center{
    margin-right: 2%;
    margin-left: 2%;
  }

  .question, .answer{
     width: 100%;
     display:grid;
     grid-template-columns: repeat(1,100%);
     grid-template-rows: 2.5fr 0.6fr;
     height:100%;
   }
}

@media only screen and (max-width: 1100px) and (max-height: 1200px) {
   #answerBtn , a , #questionBtn{
      font-size: 1.3em;
   }
   
   .question-txt, .answer-txt{
     font-size: 0.9em;
   }
   .center{
     margin-right: 2%;
     margin-left: 2%;
   }
 }

 @media only screen and (max-width: 420px) {
   #answerBtn , a , #questionBtn{
      font-size: 0.9em;
   }
 
   .center{
     margin-right: 2%;
     margin-left: 2%;
   }

   .question, .answer{
      width: 100%;
      display:grid;
      grid-template-columns: repeat(1,100%);
      grid-template-rows: 2.5fr 0.75fr;
      height:100%;
    }
}

@media only screen and (max-width: 380px) and (max-height: 900px){
   #answerBtn , a , #questionBtn, p{
      font-size: 0.7em;
   }
 
   .center{
     margin-right: 2%;
     margin-left: 2%;
   }

   .question, .answer{
      width: 100%;
      display:grid;
      grid-template-columns: repeat(1,100%);
      grid-template-rows: 2.5fr 0.6fr;
      height:100%;
    }
}

@media only screen and (max-width: 660px) and (max-height: 300px){
  .question-txt, .answer-txt{
    font-size: 0.9em;
  }

  .center{
    margin-right: 2%;
    margin-left: 2%;
  }

  .question, .answer{
     width: 100%;
     display:grid;
     grid-template-columns: repeat(1,100%);
     grid-template-rows: 2.5fr 0.6fr;
     height:100%;
   }
}



